<% if @question.nil? %>
  <h1>No Comparison Exists. Why not create one?</h1>
  <%= link_to "Create a question", new_question_path %>
<% else %>
  <h1><%= @question.description %></h1>
  <%= link_to option_votes_path(@option1), method: :post, action:
:create do %>
    <div class='row'>
      <div class='small-12 large-6 columns'>
        <div class='panel box-size red fsize'>
          <%= @option1.description %>
        </div>
      </div>
  <% end %>
  <%= link_to option_votes_path(@option2), method: :post, action:
:create do %>
      <div class='small-12 large-6 columns'>
        <div class='panel box-size blue fsize'>
          <%= @option2.description %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
