<h1>New Choice</h1>

<%= form_for @choice do |f| %>
  <%= f.label :choice1 %>
  <%= f.text_field :choice1 %>
  <%= f.label :choice2 %>
  <%= f.text_field :choice2 %>
  <%= f.submit "Submit" %>
<% end %>
