<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'ThisOrThat', root_path %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to "Create A Question", new_question_path %></li>
      <li class="has-dropdown">
      <% if current_user %>
        <%= link_to "Hello #{current_user.first_name.capitalize}" %>
        <ul class="dropdown">
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <% if current_user.admin %>
            <li><%= link_to 'Status', statuses_path %></li>
            <li><%= link_to 'Questions', questions_path %></li>
          <% end %>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </ul>
      <% else %>
        <%= link_to "New User" %>
        <ul class="dropdown">
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        </ul>
      <% end %>
      </li>
    </ul>
  </section>
</nav>
